<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{>links}}
    <title>Weather Hub</title>
  </head>
  <body>
      {{>navbar}}
      <!-- main header  -->
      <div class="container-fluid main_header">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              
              <!-- left side  -->
              <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="images/about.png" alt="Gaurav" class="img-fluid" title="Gaurav Shukl">
                </figure>
              </div>

              <!-- right side  -->
              <div class="col-md-6 col-12 main_header_left">
                <p>Hey there!</p>
                <h1>I am a <span>Full Stack</span> Web Developer</h1>
                <p>An undergraduate student of B.Tech CSE with an Intrest in Web Development and Machine Learning.</p>
                <h3>I have a life Caffeine and Code.</h3>
                <a href="https://www.linkedin.com/in/thisisgauravshukla/" class="abt-btn">Hire Me</a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- footer area  -->

      <footer>
        <p>
          Designed and Developed with <span>❤</span> By Gaurav Shukla 
        </p>
      </footer>
  </body>
</html>
